/*Reset the basic settings*/
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  font-size: 100%;

  margin: 0;
  padding: 0;

  list-style: none;

  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

img {
  font-size: 0;

  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-img
*/

  -ms-interpolation-mode: bicubic;
  color: transparent;
  border: 0;
}

/*img,
embed,
object,
video {
  max-width: 100%;
}*/

nav ul,
nav ol,
ul,
ol {
  list-style: none;
}

li {
  /*
  For IE6 + IE7.
*/
  display: list-item;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td,
caption {
  font-weight: normal;

  text-align: left;
  vertical-align: top;
}

svg {
  /*
  For IE9.
*/
  overflow: hidden;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button {
  cursor: pointer;
}

input,
textarea,
select,
button,
input:hover,
textarea:hover,
select:hover,
button:hover,
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button[disabled],
input[disabled] {
  cursor: default;
}

acronym,
abbr,
span.caps {
  cursor: help;
}

acronym,
abbr {
  border-bottom: 1px dashed #999;
}

textarea {
  resize: none;
}


/*Reset the basic settings*/
