* {
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;

  cursor: pointer;
  text-decoration: underline;

  color: #0490a5;
  outline: 0;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
html {
  height: 100%;
}
body {
  font-family: 'SegoeUI';
  font-size: 18px;
  line-height: 22px;

  height: 100%;

  color: #000;
  background: #fff;
}
.clear {
  font-size: 0;

  clear: both;

  height: 0;
}
.clearfix:after,
.center:after {
  font-size: 0;
  line-height: 0;

  display: block;
  clear: both;
  overflow: hidden;

  height: 0;

  content: '.';
}
table {
  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: 'SegoeUI';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/SegoeUI.eot');
  src: url('fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('fonts/SegoeUI.woff') format('woff'),
  url('fonts/SegoeUI.ttf') format('truetype'),
  url('fonts/SegoeUI.svg#SegoeUI') format('svg');
}
@font-face {
  font-family: 'SegoeUI-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/SegoeUI-Bold.eot');
  src: url('fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/SegoeUI-Bold.woff') format('woff'),
  url('fonts/SegoeUI-Bold.ttf') format('truetype'),
  url('fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
}
@font-face {
  font-family: 'SegoeUI-Light';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/SegoeUI-Light.eot');
  src: url('fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/SegoeUI-Light.woff') format('woff'),
  url('fonts/SegoeUI-Light.ttf') format('truetype'),
  url('fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
}

#wrapper {
  overflow: hidden;

  width: 100%;
}
.center {
  position: relative;

  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.center.table {
  display: table;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 95px;
  font-weight: 100;
  line-height: 84px;

  text-align: center;

  color: #0490a5;
}
h2.middle {
  font-size: 68px;
}

.yellow-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;

  position: relative;

  display: inline-block;

  height: 78px;
  margin-right: 38px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: none;
  outline: none;
  background: url(../images/yellow-btn.png) no-repeat 0 0;
  text-shadow: 1px 1px 2px #c69400;
}
.yellow-btn span {
  line-height: 78px;

  display: block;

  height: 78px;
  margin-right: -38px;
  padding: 0 30px;

  text-align: center;

  background: url(../images/yellow-btn.png) no-repeat right -79px;
}
.yellow-btn2 {
  font-family: 'SegoeUI-Bold';
  font-size: 14px;

  position: relative;

  display: inline-block;

  height: 44px;
  margin-right: 20px;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  outline: none;
  background: url(../images/yellow-btn.png) no-repeat 0 -158px;
  text-shadow: 1px 1px 2px #c69400;
}
.yellow-btn2 span {
  line-height: 44px;

  display: block;

  height: 44px;
  margin-right: -20px;
  padding: 0 20px;

  text-align: center;

  background: url(../images/yellow-btn.png) no-repeat right -203px;
}
img {
  max-width: 100%;
  height: auto;
}
table .a-right {
  text-align: right !important;
}
table .a-left {
  text-align: left !important;
}
table .a-center {
  text-align: center !important;
}
.cell {
  display: table-cell;

  vertical-align: middle;
}

/* header */
header {
  background: #0490a5;
}
.top_line {
  padding: 5px 0;

  background: url(../images/gray-80.png) repeat 0 0;
}
.header_phones {
  float: left;

  margin: 0 -14px;
  padding: 4px 0;
}
.header_phones li {
  font-family: 'SegoeUI-Light';
  font-size: 24px;
  line-height: 24px;

  float: left;

  margin: 0 14px;
  padding: 8px 0;

  color: #fff;
}
.top_line .callback-btn {
  float: right;

  margin-top: 4px;
}
#nav {
  position: relative;
  z-index: 999;

  border-top: 1px solid #5b6566;
  border-bottom: 1px solid #54e3fb;
  background: url(../images/nav_bg.png) repeat 0 0;
}
.nav_border {
  border-top: 1px solid #54e3fb;
  border-bottom: 1px solid #564406;
}
.main_menu {
  line-height: 24px;

  overflow: hidden;

  height: 24px;
  padding: 9px 2px;

  cursor: default;
  text-align: justify;
}
.main_menu:after {
  display: inline-block;
  overflow: hidden;

  height: 1px;
  margin-left: 100%;

  content: '1';
}
.main_menu li {
  display: inline;
}
.main_menu li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: inline-block;

  height: 24px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}
.main_menu li a:hover {
  text-decoration: underline;
}
#nav-mobile {
  position: relative;
  position: absolute;
  top: 0;
  right: 10px;

  display: none;

  border-radius: 10px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .65);
}
#nav-mobile .mobilebutton {
  display: block;

  width: 56px;
  height: 38px;
  padding: 13px 16px;

  cursor: pointer;

  background: url(../images/navmobile-button.png) no-repeat center center;
}
#nav-mobile.mobile-open {
  padding-bottom: 18px;

  border-radius: 10px 10px 0 0;
  box-shadow: 3px 0 5px rgba(0, 0, 0, .65);
}
.navmobile-block {
  position: absolute;
  top: 82px;
  right: 0;

  display: none;

  padding: 20px 0;

  border-radius: 10px 0 10px 10px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .65);
}
.navmobile-menu li {
  padding: 10px 0;
}
.navmobile-menu li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  height: 30px;
  padding: 5px 30px;

  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;

  color: #1d5f6d;
}
#nav-mobile.mobile-open .navmobile-block {
  display: block;
}

.head_block {
  padding: 114px 0 130px;

  text-align: center;
}
.head_info {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  font-weight: 100;
  line-height: 32px;

  padding: 80px 0 112px;

  text-align: center;

  color: #fff;
}
.head_info h2 {
  margin-bottom: 70px;

  color: #fff;
  text-shadow: 1px 1px 1px #7cbd00, 0 0 18px #fff9b5;
}
.head_info p {
  margin-bottom: 24px;
}

#order-btn_section {
  position: relative;
  z-index: 100;

  height: 0;

  text-align: center;
}
#order-btn_section .center {
  top: -104px;
}

/* header alternate */
.head_alternate .head_block {
  padding-top: 50px;
}
.head_alternate .head_info {
  padding: 50px 0 10px;
}
.head_alternate .head_info h2 {
  margin-bottom: 14px;
}
.head_alternate .head_form {
  position: relative;

  max-width: 925px;
  margin: 0 auto;
  padding: 32px 10px 58px;

  border: 5px solid #04748a;
  border: 5px solid rgba(0, 0, 0, .25);
  border-radius: 8px;
  background: rgba(255, 255, 255, .1);
}
.head_alternate .head_form .form_title {
  font-family: 'SegoeUI-Light';
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 32px;

  color: #fff;
}
.head_alternate .head_form .form_item {
  float: left;

  width: 50%;
}
.head_form .form_item label {
  font-size: 18px;
  line-height: 24px;

  float: left;

  width: 80px;
  padding: 12px 0;

  text-align: right;

  color: #fff;
}
.head_form .form_item .inp_box {
  margin-left: 90px;
  padding-right: 16px;
}
.head_form .form_item input.input-text {
  height: 48px;

  border: 1px solid #8bba20;
  border-radius: 6px;
}
.head_form .form_item .form_row {
  margin-bottom: 14px;
}
.head_form .submit_wrap {
  position: absolute;
  bottom: -39px;
  left: 0;

  width: 100%;
}

/* profit section */
#profit_section {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  position: relative;

  text-align: center;

  background: #fff;
}
#profit_section .profit_top {
  position: absolute;
  top: -130px;
  left: 0;

  width: 100%;
  height: 131px;

  background: url(../images/profit-top.png) no-repeat center bottom;
}
#profit_section h2 {
  margin-bottom: 10px;

  text-shadow: 1px 1px 1px #13c0d9;
}
.profit_inner {
  float: left;

  width: 100%;
  margin-top: -15px;
}
.profit_img img {
  max-width: 100%;
  height: auto;
}
.profit_list {
  font-size: 0;
  line-height: 0;

  margin-right: -6px;
  padding-top: 113px;

  vertical-align: top;

  background: url(../images/profit_arrows.png) no-repeat center 0;
}
.profit_list li {
  font-size: 18px;
  line-height: 22px;

  display: inline-block;
  zoom: 1;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 139px;
  padding: 0 10px 20px;

  vertical-align: top;

      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}
.profit_list li .thumb {
  margin-bottom: 20px;
}
.profit_list li img {
  display: block;

  max-width: 100%;
  height: auto;
}

/* benefits section */
#benefits_section {
  position: relative;

  padding-top: 170px;
  padding-bottom: 130px;

  text-align: center;

  color: #fff;
  background: #047384;
}
#benefits_section .profit_bottom {
  position: absolute;
  top: -1px;
  left: 0;

  width: 100%;
  height: 170px;

  background: url(../images/profit-bottom.png) no-repeat center top;
}
#benefits_section h2 {
  font-size: 72px;
  line-height: 72px;

  margin-bottom: 42px;

  color: #fff;
}
.benefits_inner {
  float: left;

  width: 100%;
  margin-top: -32px;
  margin-bottom: -22px;
}
.benefits_list {
  font-size: 0;
  line-height: 0;

  vertical-align: top;
}
.benefits_list li {
  font-family: 'SegoeUI-Bold';
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
  zoom: 1;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 24.5%;
  padding: 0 10px 20px;

  vertical-align: top;

      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}
.benefits_list li .thumb {
  margin-bottom: 10px;
}
.benefits_list li h5 {
  font-family: 'SegoeUI-Bold';
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;

  margin-bottom: 18px;
}

/* business section */

@media screen and (max-width:987px) {
  #business_section {
    position: relative;
    z-index: 0;

    margin-top: -128px;
    margin-bottom: -114px;
    padding: 61px 0 158px;

    background: url(../images/business_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }
}
@media screen and (min-width:987px) {
  #business_section {
    position: relative;
    z-index: -12;

    margin-top: -128px;
    margin-bottom: -114px;
    padding: 10px 0 111px;

    background: url(../images/business_osnova.jpg) no-repeat center 0;
    background-size: 100% 87%;
  }
}

.business_verh {
  position: relative;
  position: relative;
  top: -123px;

  padding: 22px 0 101px;

  background: url(../images/business_verh.png) no-repeat;
  background-size: 100% 100%;
}
.business_niz {
  position: relative;
  position: relative;
  z-index: 2;
  top: 7px;

  margin-bottom: -111px;
  padding: 22px 0 101px;

  background: url(../images/business_niz.png) no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width:580px) {
  .business_verh {
    top: -65px;

    background-size: 100% 50%;
  }
  .business_niz {
    top: 6px;

    background-size: 100% 50%;
  }

  #sites_section {
    position: relative;
    z-index: 2;
    top: -138px;

    margin-top: 0!important;
    margin-bottom: -112px!important;
    padding: 15px 0 19px!important;

    text-align: center;

    background: url(../images/sites_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }

  .sites_verh {
    position: relative;
    top: -69px;

    padding: 36px 0 101px;

    background: url(../images/sites_verh.png) no-repeat center 0;
    background-size: 165% 50%;
  }

  .sites_niz {
    position: relative;
    z-index: 8;
    top: 12px;

    margin-top: -150px;
    margin-bottom: -58px;
    padding: 64px 0 55px;

    background: url(../images/sites_niz.png) no-repeat center 0;
    background-size: 100% 75%;
  }
  #marketing_section {
    top: -50px;
  }
  .portfolio_verh {
    position: relative;
    top: -111px;

    padding: 22px 0 101px;

    background: url(../images/portfolio_verh.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  #portfolio_section {
    position: relative;
    z-index: 2;

    margin-top: -173px;
    margin-bottom: -132px;
    padding: 122px 0 130px;

    background: url(../images/portfolio_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }

  .portfolio_niz {
    position: relative;
    z-index: 1;
    top: 132px;

    margin-top: -128px;
    margin-bottom: -15px;
    padding: 62px 0 52px;

    background: url(../images/portfolio_niz.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  .action_verh {
    position: relative;
    z-index: 666;
    top: -83px;

    padding: 66px 0 101px;

    background: url(../images/action_verh.png) no-repeat center 0;
    background-size: 100% 50%;
  }
  .top {
    bottom: 0;
  }

  #action_section {
    position: relative;
    z-index: 2;

    margin-top: -126px;
    margin-bottom: -240px;
    padding: 0 0 125px;

    text-align: center;

    background: url(../images/action_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }


  .action_niz {
    position: relative;
    z-index: 10;
    top: 240px;

    margin-top: -128px;
    margin-bottom: 16px;
    padding: 47px 0 107px;

    background: url(../images/action_niz.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  .action_verh_zerk {
    position: relative;
    z-index: 20;
    top: -43px;

    padding: 60px 0 106px;

    background: url(../images/action_verh_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  .action_verh_zerk {
    position: relative;
    z-index: 20;
    top: -43px;

    padding: 60px 0 106px;

    background: url(../images/action_verh_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }
  .action_niz_zerk {
    position: relative;
    z-index: 4;
    top: 240px;

    margin-top: -128px;
    margin-bottom: 23px;
    padding: 47px 0 107px;

    background: url(../images/action_niz_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }
}





#business_section h2 {
  margin-bottom: 30px;
}
.business_box {
  padding-bottom: 12px;
}
.business_right {
  float: right;

  width: 460px;
  margin-right: 10px;
  padding-top: 10px;
}
.business_left {
  float: left;

  width: 460px;
  margin-left: 20px;
}
.business_left h3 {
  font-family: 'SegoeUI-Bold';
  font-size: 36px;
  font-weight: normal;
  line-height: 43px;

  margin-bottom: 26px;

  color: #0490a5;
}
.business_left p {
  margin-bottom: 22px;
}

/* specialize section */
#specialize_section {
  padding: 106px 0 130px;

  background: #0490a5;
}
#specialize_section h2 {
  font-size: 60px;
  line-height: 64px;

  margin-bottom: 24px;

  color: #fff;
}
.specialize_box {
  padding-top: 35px;
}
.specialize_box .specialize_top {
  float: left;

  width: 462px;
  margin-left: 20px;
}
.specialize_box .specialize_top h3 {
  font-family: 'SegoeUI-Bold';
  font-size: 34px;
  font-weight: normal;
  line-height: 41px;

  margin-bottom: 44px;

  color: #fff;
}
.specialize_box .specialize_table_box {
  float: right;

  width: 456px;
  margin-right: 10px;
}
.specialize_table {
  font-family: 'SegoeUI-Bold';
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;

  overflow: hidden;

  margin-bottom: 16px;

  border-collapse: separate;

  color: #17333a;
  border: 1px solid #fff;
  border-radius: 30px;
}
.specialize_table tr:first-child th:first-child {
  border-radius: 30px 0 0 0;
}
.specialize_table tr:first-child th:last-child {
  border-radius: 0 30px 0 0;
}
.specialize_table tr:last-child td:first-child {
  border-radius: 0 0 0 30px;
}
.specialize_table tr:last-child td:last-child {
  border-radius: 0 0 30px 0;
}
.specialize_table th {
  font-size: 18px;
  font-weight: normal;

  padding: 19px 10px;

  text-align: left;

  background: #c1ee2e;
}
.specialize_table td {
  padding: 10px;

  vertical-align: top;

  background: #fff url(../images/specialize-table_bg.png) repeat 0 0;
}
.specialize_table tr + tr td {
  border-bottom: 1px solid #17333a;
}
.specialize_table td + td {
  border-left: 1px solid #17333a;
}
.specialize_table tr:last-child td {
  border-bottom: none;
}
.specialize_table .red {
  color: #ff3600;
}
.specialize_table_box .table_note {
  font-family: 'SegoeUI-Bold';

  margin-bottom: 22px;

  text-align: center;

  color: #fff;
}
.specialize_box .specialize_text {
  line-height: 36px;

  float: left;

  width: 462px;
  margin-left: 20px;

  color: #fff;
}
.specialize_box .specialize_text p {
  margin-bottom: 32px;
}

.icon-list li {
  font-family: 'SegoeUI-Bold';
  font-size: 14px;
  line-height: 18px;

  padding: 3px 0;
  padding-left: 22px;

  color: #ffcb05;
  background: url(../images/list-icon.png) no-repeat 0 6px;
}
.price_box {
  font-family: 'SegoeUI-Bold';
  font-size: 30px;
  line-height: 32px;

  text-align: center;

  color: #fff;
}
.more-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 34px;

  display: inline-block;

  height: 34px;
  padding: 0 40px;

  text-decoration: none;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background: #ff7f00;
}
.more-btn:hover {
  background: #f37a02;
}

@media screen and (min-width:975px) {
  /* sites section */
  #sites_section {
    position: relative;
    z-index: 2;
    top: 10px;

    margin-top: -132px;
    margin-bottom: -112px;
    padding: 105px 0 110px;

    text-align: center;

    background: url(../images/sites_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }

  .sites_verh {
    position: relative;
    top: -122px;

    padding: 22px 0 101px;

    background: url(../images/sites_verh.png) no-repeat center 0;
    background-size: 100% 100%;
  }

  .sites_niz {
    position: relative;
    z-index: 8;
    top: 73px;

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 64px 0 107px;

    background: url(../images/sites_niz.png) no-repeat center 0;
    background-size: 100% 50%;
  }
  .action_verh_zerk {
    position: relative;
    z-index: 21;
    top: 0;

    padding: 60px 0 106px;

    background: url(../images/action_verh_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }


  .action_niz_zerk {
    position: relative;
    z-index: 4;
    top: 240px;

    margin-top: -128px;
    margin-bottom: 23px;
    padding: 47px 0 107px;

    background: url(../images/action_niz_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  #action_section {
    position: relative;
    z-index: 10;

    margin-top: -84px;
    margin-bottom: -240px;
    padding: 5px 0 45px;

    text-align: center;

    background: url(../images/action_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }
}
@media screen and (min-width:581px) and (max-width:975px) {
  .sites_verh {
    position: relative;
    top: -124px;

    margin-bottom: 43px;
    padding: 119px 0 101px;

    background: url(../images/sites_verh.png) no-repeat center 0;
    background-size: 100% 50%;
  }
  .sites_niz {
    position: relative;
    z-index: 8;
    top: 9px;

    margin-top: -148px;
    margin-bottom: -116px;
    padding: 64px 0 107px;

    background: url(../images/sites_niz.png) no-repeat center 0;
    background-size: auto 81%;
  }
  #sites_section {
    position: relative;
    z-index: 1;
    top: -137px;

    margin-top: -273px;
    margin-top: -140px;
    margin-bottom: -116px;
    margin-bottom: -120px;
    padding: 64px 0 107px;
    padding: 140px 0 120px;

    text-align: center;

    background-color: rgb(223, 157, 63);
    /* background: url(../images/sites_osnova.jpg) no-repeat center 0; */
    background-size: 100% 100%;
  }

  .portfolio_verh {
    position: relative;
    top: -111px;

    padding: 22px 0 101px;

    background: url(../images/portfolio_verh.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  #portfolio_section {
    position: relative;
    z-index: 2;

    margin-top: -173px;
    margin-bottom: -132px;
    padding: 122px 0 130px;

    background: url(../images/portfolio_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }

  .portfolio_niz {
    position: relative;
    z-index: 1;
    top: 132px;

    margin-top: -128px;
    margin-bottom: -15px;
    padding: 62px 0 52px;

    background: url(../images/portfolio_niz.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  .action_verh_zerk {
    position: relative;
    z-index: 20;
    top: -43px;

    padding: 60px 0 106px;

    background: url(../images/action_verh_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }


  .action_niz_zerk {
    position: relative;
    z-index: 4;
    top: 240px;

    margin-top: -128px;
    margin-bottom: 23px;
    padding: 47px 0 107px;

    background: url(../images/action_niz_zerk.png) no-repeat center 0;
    background-size: 100% 50%;
  }

  #action_section {
    position: relative;
    z-index: 2;

    margin-top: -126px;
    margin-bottom: -240px;
    padding: 35px 0 35px;

    text-align: center;

    background: url(../images/action_osnova.jpg) no-repeat center 0;
    background-size: 100% 100%;
  }
}


.sites-top,
.sites-bottom {
  display: none;
}
#sites_section h2 {
  font-size: 60px;
  line-height: 64px;

  margin-bottom: 16px;

  color: #fff;
}
.sites_text {
  padding: 0 70px;
}
.sites_text p {
  margin-bottom: 22px;
}
.sites_list {
  font-size: 0;
  line-height: 0;

  margin-right: -4px;
  padding-bottom: 16px;

  vertical-align: top;
  vertical-align: top;
}
.sites_list .item {
  display: inline-block;
  zoom: 1;

  padding: 0 12px 28px;

  vertical-align: top;
}
.sites_list .sites_box {
  font-size: 14px;
  line-height: 17px;

  width: 293px;

  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  background: #716249;
}
.sites_box .box_title {
  font-family: 'SegoeUI-Bold';
  font-size: 24px;
  line-height: 24px;

  height: 58px;
  padding-top: 20px;

  text-align: center;

  color: #fff;
  border-radius: 30px 30px 0 0;
  background: #4b9481;
}
.sites_box .box_title .cell {
  width: 480px;
}
.sites_box .box_entry {
  padding: 36px 10px 20px;
}
.sites_box .thumb {
  margin-bottom: 46px;
}
.sites_box .box_entry p {
  margin-bottom: 12px;
}
.sites_box .icon-list {
  max-width: 220px;
  margin: 0 auto 25px;

  text-align: left;
}
.sites_box .price_box {
  margin-bottom: 15px;

  color: #f4dfbf;
}

/* marketing section */
#marketing_section {
  padding: 98px 0 100px;

  text-align: center;

  background: #f0ac30;
}
#marketing_section h2 {
  font-size: 60px;
  line-height: 64px;

  margin-bottom: 20px;

  color: #fff;
}
.marketing_text {
  padding: 0 70px;
}
.marketing_text p {
  margin-bottom: 22px;
}
.marketing_list {
  font-size: 0;
  line-height: 0;

  padding: 0 10px;

  vertical-align: top;
}
.marketing_list .item {
  display: inline-block;
  zoom: 1;

  width: 50%;
  padding-bottom: 18px;

  vertical-align: top;
}
.marketing_list .marketing_box {
  font-size: 14px;
  line-height: 17px;

  margin: 0 10px;

  color: #fff;
  border-radius: 30px;
  background: #716249;
}
.marketing_box .box_title {
  font-family: 'SegoeUI-Bold';
  font-size: 24px;
  line-height: 24px;

  height: 80px;

  text-align: center;

  color: #fff;
  border-radius: 30px 30px 0 0;
  background: #4b9481;
}
.marketing_box .box_title .cell {
  width: 600px;
  height: 80px;
}
.marketing_box .box_entry {
  padding: 20px 15px;
}
.marketing_box .thumb {
  margin-bottom: 12px;
}
.marketing_box .box_entry p {
  margin-bottom: 18px;
}
.marketing_box .icon-list {
  max-width: 220px;
  margin: 0 auto 15px;
  padding-left: 40px;

  text-align: left;
}
.marketing_box .price_box {
  margin-bottom: 15px;
}

/* portfolio section */
@media screen and (min-width:975px) {
  #portfolio_section {
    position: relative;
    z-index: 2;

    margin-top: -124px;
    margin-bottom: -132px;
    padding: 122px 0 130px;

    background: url(../images/portfolio_osnova.jpg) no-repeat center 0;
    background-size: 100% 89%;
  }

  .portfolio_verh {
    position: relative;
    top: -124px;

    padding: 22px 0 101px;

    background: url(../images/portfolio_verh.png) no-repeat center 0;
    background-size: 100% 100%;
  }

  .portfolio_niz {
    position: relative;
    z-index: 8;
    top: 62px;

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 64px 0 107px;

    background: url(../images/portfolio_niz.png) no-repeat center 0;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 581px) (max-width:975px) {
  #portfolio_section {
    position: relative;
    z-index: 2;

    margin-top: -124px;
    margin-bottom: -132px;
    padding: 122px 0 130px;

    background: url(../images/portfolio_osnova.jpg) no-repeat center 0;
    background-size: 100% 91%!important;
  }

  .portfolio_verh {
    position: relative;
    top: -124px;

    padding: 22px 0 101px;

    background: url(../images/portfolio_verh.png) no-repeat center 0;
    background-size: 100% 100%;
  }

  .portfolio_niz {
    position: relative;
    z-index: 8;
    top: 53px;

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 64px 0 107px;

    background: url(../images/portfolio_niz.png) no-repeat center 0;
    background-size: 100% 81%;
  }
}


#portfolio_section h2 {
  font-size: 72px;
  line-height: 70px;

  margin-bottom: 24px;

  color: #fff;
}
.jcarousel {
  position: relative;

  overflow: hidden;
}
.jcarousel ul {
  position: relative;

  width: 20000em;
  margin: 0;
  padding: 0;

  list-style: none;
}
.portfolio_carousel {
  position: relative;

  padding: 0 10px 58px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portfolio_carousel .jcarousel ul li {
  float: left;

  width: 100%;
}
.portfolio_item {
  float: left;

  width: 25%;
  padding-bottom: 9px;
}
.portfolio_item a {
  display: block;
  overflow: hidden;

  margin: 0 7px;

  border: 4px solid #03798a;
  border-radius: 50%;
}
.portfolio_item img {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 50%;
}
.portfolio_carousel .jcarousel_controls {
  font-size: 0;
  line-height: 0;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 22px;

  text-align: center;
  vertical-align: top;
}
.portfolio_carousel .jcarousel-control-prev,
.portfolio_carousel .jcarousel-control-next {
  display: inline-block;

  width: 22px;
  height: 22px;
  margin: 0 6px;

  cursor: pointer;
  vertical-align: top;

  background: url(../images/portfolio_control.png) no-repeat;
}
.portfolio_carousel .jcarousel-control-prev {
  background-position: 0 0;
}
.portfolio_carousel .jcarousel-control-next {
  background-position: right 0;
}
.portfolio_carousel .jcarousel-control-prev:hover {
  background-position: 0 -23px;
}
.portfolio_carousel .jcarousel-control-next:hover {
  background-position: right -23px;
}
.portfolio_carousel .jcarousel-pagination {
  display: inline-block;

  vertical-align: top;
}
.portfolio_carousel .jcarousel-pagination a {
  display: inline-block;

  width: 22px;
  height: 22px;
  margin: 0 6px;

  vertical-align: top;

  background: url(../images/portfolio_control.png) no-repeat 0 -46px;
}
.portfolio_carousel .jcarousel-pagination a.active,
.portfolio_carousel .jcarousel-pagination a:hover {
  background-position: right -46px;
}

/* how-work section */
#how-work_section {
  padding: 116px 0 132px;

  text-align: center;

  background: #ff7f00;
}
#how-work_section h2 {
  font-size: 72px;
  line-height: 70px;

  margin-bottom: 24px;

  color: #fff;
}
.how-work_list {
  font-size: 0;
  line-height: 0;

  padding: 10px 10px 0;

  vertical-align: top;
}
.how-work_list li {
  font-size: 18px;
  line-height: 22px;

  display: inline-block;
  zoom: 1;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 33%;
  margin-bottom: 25px;
  padding: 0 30px;

  vertical-align: top;

  color: #fff;

      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}

/* action section */
@media screen and (min-width:981px) {
  /*#action_section {
    background:url(../images/action_osnova.jpg) no-repeat center 0;
/*    background-size:100% 85%; */
  /* margin-top: -84px;
  margin-bottom: -240px;
  padding: 5px 0 45px;
  position: relative;
  z-index: 10;
  text-align: center;
}
*/
  .action_verh {
    /*  background-size: 100% 100%;
*/  position: relative;
    top: -162px;

    padding: 60px 0 106px;

    background: url(../images/action_verh.png) no-repeat center 0;
  }

  .action_niz {
    position: relative;
    z-index: 1;
    top: 9px;
    /* background-size: 100% 81%;*/

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 47px 0 107px;

    background: url(../images/action_niz.png) no-repeat center 0;
  }
}



@media screen and (min-width: 581px) (max-width:975px) {
  #action_section {
    position: relative;
    z-index: 2;

    margin-top: -125px;
    margin-bottom: -402px;
    padding: 103px 0 130px;

    background: url(../images/action_osnova.jpg) no-repeat center 0;
    background-size: 261% 48%!important;
  }

  .action_verh {
    /* background-size: 100% 100%;*/
    position: relative;
    top: -124px;

    padding: 66px 0 101px;

    background: url(../images/action_verh.png) no-repeat center 0;
  }

  .action_niz {
    position: relative;
    z-index: 1;
    top: 53px;
    /*  background-size: 100% 81%;*/

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 64px 0 107px;

    background: url(../images/action_niz.png) no-repeat center 0;
  }

  .action_verh_zerk {
    /*  background-size: 100% 100%;
*/  position: relative;
    z-index: 20;
    top: -27px;

    padding: 60px 0 106px;

    background: url(../images/action_verh_zerk.png) no-repeat center 0;
  }

  .action_niz_zerk {
    position: relative;
    z-index: 1;
    top: 38px;
    /* background-size: 100% 81%;*/

    margin-top: -128px;
    margin-bottom: -116px;
    padding: 47px 0 107px;

    background: url(../images/action_niz_zerk.png) no-repeat center 0;
  }
}






#action_section h2 {
  font-size: 60px;
  line-height: 64px;

  margin-bottom: 14px;

  color: #0490a5;
}
.action_box {
  font-size: 24px;
  line-height: 30px;

  max-width: 720px;
  margin: 0 auto;
}
.action_box p {
  margin-bottom: 16px;
}
#action_section .serv-btn_wrap {
  position: absolute;
  bottom: -88px;

  width: 100%;
  height: 78px;
}

/* order section */
#order_section {
  padding: 140px 0 76px;

  text-align: center;

  background: #ef8c1a;
}
#order_section h2 {
  font-size: 48px;
  line-height: 48px;

  margin-bottom: 28px;

  color: #fff;
}
.order_text {
  font-family: 'SegoeUI-Light';
  font-size: 24px;
  line-height: 30px;

  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 8px;

  color: #fff;
}
.order_text p {
  margin-bottom: 24px;
}
.order_benefits {
  float: right;

  width: 460px;
  margin-right: 10px;
  padding: 12px 0 30px;
}
.order_benefits li {
  font-family: 'SegoeUI-Bold';
  font-size: 30px;
  line-height: 34px;

  margin-bottom: 26px;
  margin-left: 14px;
  padding-left: 48px;

  text-align: left;

  color: #fff;
  background: url(../images/benefits-ico2.png) no-repeat 0 0;
}
.order_form {
  float: left;

  width: 450px;
  margin-left: 20px;
}
.order_form .form_row {
  overflow: hidden;

  min-height: 1px;
  margin-right: 6px;
  margin-bottom: 14px;
}
.order_form label {
  font-size: 18px;
  line-height: 22px;

  position: relative;

  float: left;

  width: 76px;
  margin: 4px 0;

  text-align: right;

  color: #fff;
}
.order_form label .cell {
  width: 76px;
  height: 46px;
}
.order_form label .required {
  margin-right: -8px;
}
.order_form .inp_box {
  float: right;

  width: 358px;
}
input.input-text,
textarea.input-text {
  font-family: 'SegoeUI';
  font-size: 18px;
  line-height: 22px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 54px;
  padding: 12px 15px;

  color: #000;
  border: 4px solid #ce7813;
  border: 4px solid rgba(206, 104, 0, .27);
  border-radius: 6px;
  outline: none;
  background: #fff;
  -webkit-background-clip: padding;
     -moz-background-clip: padding;
          background-clip: padding-box;

      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}
textarea.input-text {
  display: block;
  overflow: auto;

  height: 184px;

  resize: none;
}
.order_submitbox {
  float: right;

  width: 460px;
  margin-right: 10px;

  text-align: center;
}
.submit-btn {
  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}
.order_submitbox .submit-btn {
  width: 330px;
  max-width: 100%;
}
.order_submitbox .yellow-btn {
  display: block;
}

/* map section */
#map_section {
  position: relative;

  width: 100%;
  height: 541px;

  background: url(../images/map.jpg) no-repeat center 0;
}
.map_info {
  font-family: 'SegoeUI-Bold';

  position: absolute;
  top: 45%;
  left: 45%;

  width: 278px;
  margin: -28px 0 0 -21px;
  padding: 22px 0 26px 48px;

  color: #000;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}
.map_info .icon-box {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 38px;
  height: 100%;

  background: #0490a5 url(../images/address-ico.png) no-repeat center center;
}
.map_info .map_triangle {
  position: absolute;
  bottom: -24px;
  left: 53px;

  display: block;

  width: 30px;
  height: 25px;

  background: url(../images/map_triangle.png) no-repeat 0 0;
}
#map_section .appointment-btn {
  position: absolute;
  bottom: -39px;

  width: 100%;
  height: 78px;

  text-align: center;
}

/* footer */
footer {
  padding: 42px 0;

  color: #fff;
  background: #0490a5;
}
.footer_logo {
  float: left;

  margin-left: 15px;
}
.ready-do {
  float: right;

  margin: 9px 10px 0;
}
.footer_phones {
  line-height: 36px;

  float: left;

  padding: 6px 14px;
}
.footer_phones li {
  font-family: 'SegoeUI-Light';

  display: inline;

  margin: 0 13px;

  white-space: nowrap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .benefits_list,
  .sites_list,
  .marketing_list,
  .how-work_list {
    display: table;
  }
}

@media screen and (min-width:1900px) {
  #profit_section .profit_top,
  #benefits_section .profit_bottom,
  #business_section,
  #sites_section,
  #portfolio_section,
  #action_section {
    background-size: 100% 100%;
  }
  #map_section {
    background-size: cover;
  }
}
@media screen and (max-width: 980px) {
  .main_menu {
    text-align: center;
  }
  .main_menu:after {
    display: none;

    content: '';
  }
  .main_menu li {
    display: inline-block;
  }
  .main_menu li + li {
    margin-left: 40px;
  }
  .main_menu li a {
    display: block;

    text-align: center;
  }
  .head_block {
    padding-top: 92px;

    text-align: center;
  }
  .head_info {
    padding-top: 58px;
  }
  .profit_list {
    padding-right: 25px;
    padding-left: 25px;

    background-size: 100% auto;
  }
  .benefits_inner {
    margin-top: -50px;
  }
  .benefits_list li {
    width: 33%;
  }
  #business_section h2 {
    max-width: 700px;
    margin: 0 auto 18px;
  }
  .business_right {
    float: none;

    width: auto;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .business_left {
    float: none;

    width: auto;
    margin: 0;
    padding: 0 15px;
  }
  .business_left h3 {
    max-width: 500px;
    margin: 0 auto 26px;
  }
  #specialize_section {
    padding: 86px 0 100px;
  }
  .specialize_box {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .specialize_box .specialize_top {
    float: none;

    width: auto;
    margin: 0;
  }
  .specialize_box .specialize_top h3 {
    margin-bottom: 30px;
  }
  .specialize_box .specialize_table_box {
    float: none;

    width: 100%;
    max-width: 456px;
    margin: 0 auto;
  }
  .specialize_table_box .table_note {
    display: none;
  }
  .specialize_box .specialize_text {
    float: none;

    width: auto;
    margin: 0;
  }
  #sites_section {
    margin-top: -140px;
    margin-bottom: -120px;
    padding: 40px 0 0;
  }
  #marketing_section {
    padding: 78px 0 110px;
  }
  /*#sites_section, #portfolio_section, #action_section { background-size:auto 100%;}*/
  .portfolio_carousel {
    max-width: 470px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .portfolio_item {
    width: 50%;
  }
  #how-work_section {
    padding: 100px 0 120px;
  }
  .how-work_list {
    max-width: 640px;
    margin: 0 auto;
  }
  .how-work_list li {
    width: 50%;
  }
  .action_box {
    margin-bottom: 10px;
  }
  #order_section {
    padding-bottom: 40px;
  }
  #order_section h2 {
    max-width: 450px;
    margin: 0 auto 12px;
  }
  .order_text {
    padding-bottom: 0;
  }
  .order_benefits {
    float: none;

    width: auto;
    max-width: 460px;
    margin: 0 auto;
    padding: 0 0 0 70px;
  }
  .order_form {
    float: none;

    width: auto;
    max-width: 450px;
    margin: 0 auto;
    padding-right: 90px;
  }
  .order_submitbox {
    float: none;

    width: auto;
    margin: 0;
    padding-top: 20px;
  }
  footer {
    padding-bottom: 30px;

    text-align: center;
  }
  .footer_logo {
    float: none;

    margin: 0;
  }
  .footer_logo img {
    margin-top: 7px;
  }
  .footer_phones {
    float: none;

    margin: 0 0 7px;
    padding-top: 8px;
  }
  .ready-do {
    float: none;

    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .nav_border {
    height: 64px;
    padding: 10px 0;
  }
  .main_menu {
    margin-right: 100px;
    padding: 20px 0;

    text-align: center;
    white-space: nowrap;
  }
  .main_menu li + li {
    margin-left: 28px;
  }
  .main_menu li a {
    display: block;

    text-align: center;
  }
  #nav-mobile {
    display: block;
  }
  .head_block {
    padding: 35px 0 55px;
  }
  .head_info {
    font-weight: 400;
    line-height: 40px;

    padding: 17px 0 32px;
  }
  .head_info h2 {
    font-size: 70px;
    line-height: 60px;

    margin-bottom: 8px;
  }
  .head_info p {
    margin-bottom: 0;
  }
  .head_alternate .head_form {
    margin-bottom: 48px;
    padding: 20px 10px 48px;
  }
  .head_alternate .head_form .form_item {
    float: none;

    width: 100%;
  }
  .head_alternate .head_form .form_title {
    font-size: 18px;
    line-height: 24px;
  }
  #order-btn_section .center {
    top: -84px;
  }
  #profit_section {
    padding-top: 30px;
  }
  .profit_inner {
    margin-top: 0;
  }
  #profit_section .profit_top {
    top: -110px;
  }
  #profit_section h2 {
    font-size: 60px;
    line-height: 72px;
  }
  .profit_list {
    padding-top: 56px;
    padding-right: 0;
    padding-left: 0;

    background: none;
  }
  #benefits_section {
    padding-top: 150px;

    background: #047384 !important;
  }
  #benefits_section .profit_bottom {
    top: -21px;
  }
  #benefits_section .backstretch {
    display: none !important;
  }
  #specialize_section {
    padding-bottom: 80px;
  }
  /*  #sites_section { background:#df9e40; margin:0; padding:10px 0;}*/
  .sites-top {
    position: absolute;
    top: -60px;
    left: 0;

    display: block;

    width: 100%;
    height: 61px;

    background: url(../images/sites-top.png) no-repeat center bottom;
  }
  .sites-bottom {
    position: absolute;
    bottom: -52px;
    left: 0;

    display: block;

    width: 100%;
    height: 53px;

    background: url(../images/sites-bottom.png) no-repeat center top;
  }
  .sites_list .sites_box {
    width: 244px;
  }
  .sites_box .icon-list,
  .marketing_box .icon-list {
    padding-left: 20px;
  }
  .map_info {
    margin-left: -160px;
  }
  .map_info .map_triangle {
    left: 192px;
  }
}
@media screen and (max-width: 580px) {
  .head_block {
    padding: 35px 0 40px;
  }
  #profit_section {
    padding-bottom: 15px;
  }
  #profit_section .profit_top {
    top: -90px;
  }
  #order-btn_section .center {
    top: -64px;
  }
  #benefits_section .profit_bottom {
    height: 140px;

    background-size: auto 100%;
  }
  #benefits_section h2 {
    font-size: 60px;
  }
  .benefits_list li {
    width: 49.5%;
  }
  #business_section h2 {
    font-size: 70px;
  }
  .business_left {
    padding: 0 5px;
  }
  .business_left h3 {
    max-width: 100%;
    margin-bottom: 22px;
  }
  #specialize_section {
    padding-top: 116px;
  }
  #specialize_section h2 {
    font-size: 50px;
    line-height: 56px;

    margin-bottom: 12px;
  }
  .specialize_box .specialize_top h3 {
    font-size: 28px;
    line-height: 36px;

    margin-bottom: 24px;
  }
  .sites_text,
  .marketing_text {
    padding: 0 30px;
  }
  .sites_list,
  .marketing_list {
    display: block !important;

    margin: 0 -10px;
    padding: 0;
  }
  .sites_list .item,
  .marketing_list .item {
    display: block;

    padding: 0 0 12px;
  }
  .sites_list .sites_box,
  .marketing_list .marketing_box {
    width: auto;
    margin: 0;

    border: none;
    border-radius: 0;
  }
  .sites_box .box_title,
  .marketing_box .box_title {
    height: auto;
    min-height: 78px;

    border-radius: 0;
  }
  .sites_box .box_entry,
  .marketing_box .box_entry {
    max-width: 380px;
    margin: 0 auto;
  }
  .sites_box .icon-list,
  .marketing_box .icon-list {
    padding-left: 40px;
  }
  .sites_box .thumb,
  .marketing_box .thumb {
    margin-bottom: 12px;
  }
  .marketing_list .item {
    display: block;

    width: 100%;
  }
  #portfolio_section {
    padding: 40px 0;
  }
  #portfolio_section.collapsed {
    padding: 40px 0 130px;
  }
  .portfolio_carousel {
    padding: 10px 0 0;
  }
  .portfolio_carousel .portfolio_list {
    width: auto !important;
  }
  .portfolio_carousel .portfolio_list li {
    display: block !important;
    float: none !important;

    width: auto !important;
  }
  .portfolio_carousel .portfolio_list li + li {
    display: none !important;
  }
  .portfolio_carousel .jcarousel_controls {
    display: none;
  }
  .order_benefits {
    margin: 0 auto;
    padding-left: 30px;
  }
  .order_benefits li {
    font-size: 24px;
    line-height: 30px;

    padding-top: 2px;
    padding-bottom: 2px;
  }
  .order_form {
    padding: 0;
  }
  .order_form .inp_box {
    float: none;

    width: auto;
    margin-left: 88px;
  }
  #how-work_section {
    padding: 130px 0 150px;
  }
  #action_section {
    padding: 80px 0;
  }
  #action_section.collapsed {
    padding: 80px 0 125px;
  }
  .collapse_title,
  .box_title {
    cursor: pointer;
  }
  .collapse_box,
  .box_entry {
    display: none;
  }
  .collapse_title span {
    border-bottom: 1px dashed #0490a5;
  }
  .head_info .collapse_title span,
  #benefits_section .collapse_title span,
  #specialize_section .collapse_title span,
  #sites_section .collapse_title span,
  #marketing_section .collapse_title span,
  #portfolio_section .collapse_title span,
  #how-work_section .collapse_title span,
  #order_section .collapse_title span {
    border-bottom: 1px dashed #fff;
  }
}
@media screen and (max-width: 460px) {
  .yellow-btn {
    font-size: 18px;
  }
  .header_phones li {
    font-size: 14px;
    line-height: 18px;

    padding: 4px 0;
  }
  .head_info {
    font-size: 24px;
  }
  .head_info h2 {
    font-size: 40px;
    line-height: 40px;

    margin-bottom: 8px;
  }
  .head_alternate .head_form .form_title {
    margin-bottom: 10px;
  }
  .head_form .form_item label {
    display: block;
    float: none;

    width: auto;
    padding: 6px 0;

    text-align: left;
  }
  .head_form .form_item .inp_box {
    margin-left: 0;
    padding-right: 0;
  }
  #profit_section h2,
  #benefits_section h2,
  #business_section h2,
  #specialize_section h2,
  #sites_section h2,
  #marketing_section h2,
  #portfolio_section h2,
  #how-work_section h2,
  #action_section h2,
  #order_section h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .profit_list {
    padding-top: 26px;
  }
  .profit_list li .thumb {
    margin-bottom: 15px;
  }
  .profit_list li {
    width: 49.5%;
    padding-bottom: 15px;
  }
  #benefits_section .profit_bottom {
    top: -1px;

    height: 90px;
  }
  #benefits_section {
    padding: 160px 0 145px;
  }
  .benefits_list li h5 {
    font-size: 16px;
  }
  .benefits_list li {
    font-size: 13px;
  }
  .business_left {
    padding: 0;
  }
  .business_left h3 {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 16px;
  }
  .business_left p {
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 17px;
  }
  #specialize_section {
    padding-bottom: 60px;
  }
  .specialize_box {
    padding: 0;
  }
  .specialize_box .specialize_top h3 {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 20px;
  }
  .specialize_table,
  .specialize_table th {
    font-size: 12px;
    line-height: 14px;
  }
  .specialize_table th,
  .specialize_table td {
    padding: 5px;
  }
  .specialize_box .specialize_text {
    font-size: 14px;
    line-height: 20px;
  }
  .specialize_box .specialize_text p {
    margin-bottom: 18px;
  }
  .sites_text,
  .marketing_text {
    padding: 0;
  }
  .sites_box .box_title,
  .marketing_box .box_title {
    font-size: 20px;
  }
  #marketing_section {
    padding: 56px 0 120px;
  }
  .portfolio_item {
    display: block;
    float: none;

    width: 100%;
    max-width: 230px;
    margin: 0 auto;
  }
  .portfolio_item + .portfolio_item + .portfolio_item {
    display: none;
  }
  #how-work_section {
    padding: 125px 0 90px;
  }
  .how-work_list {
    display: block !important;

    padding: 0;
  }
  .how-work_list li {
    font-size: 14px;
    line-height: 20px;

    display: block;

    width: 100%;
  }
  .action_box,
  .order_text {
    font-size: 16px;
    line-height: 22px;
  }
  .order_benefits {
    padding-left: 10px;
  }
  .order_benefits li {
    font-size: 16px;
    line-height: 24px;

    padding-top: 5px;
    padding-bottom: 5px;
  }
  .order_form label {
    display: block;
    float: none;

    width: auto;

    text-align: left;
  }
  .order_form label .cell {
    display: block;

    width: auto;
    height: auto;
  }
  .order_form .inp_box {
    margin-left: 0;
  }
}
@media screen and (max-width: 300px) {
  .yellow-btn {
    font-size: 12px;
  }
  .header_phones li {
    font-size: 12px;
  }
  .main_menu {
    display: none;
  }
  .head_info {
    font-size: 18px;
  }
  .profit_list li {
    font-size: 14px;
    line-height: 18px;
  }
  .benefits_list li {
    display: block;

    width: 100%;
  }
  #specialize_section h2 {
    font-size: 24px;
  }
  .specialize_table {
    display: none;
  }
  .sites_box .icon-list,
  .marketing_box .icon-list {
    padding-left: 0;
  }
  .price_box {
    font-size: 20px;
    line-height: 24px;
  }
  .order_benefits {
    padding-left: 0;
  }
  .order_benefits li {
    margin-bottom: 12px;
  }
  .map_info {
    font-size: 14px;
    line-height: 18px;

    width: 196px;
    margin-top: 10px;
    margin-left: -120px;
    padding: 12px 0 12px 44px;
  }
  .map_info .map_triangle {
    left: 152px;
  }
}
.popup__overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  text-align: center;

  background: rgba(0,0,0,.8);
}
.popup__overlay h2 {
  font-size: 40px;
  line-height: 40px;

  margin-bottom: 20px;

  color: #fff;
}
.popup__overlay .order_text {
  font-size: 22px;
}
.popup__overlay:after {
  display: inline-block;

  width: 0;
  height: 100%;

  content: '';
  vertical-align: middle;

  *display: inline;
  *zoom: 1;
}
/* Added for IE<9 compatibility */
.popup__overlay_ie {
  opacity: .7;
  background: #000;

  filter: alpha(opacity=70);
}
.popup {
  position: relative;

  display: inline-block;
  display: none;

  max-width: 985px;
  padding: 20px;

  vertical-align: middle;

  *display: inline;
  *zoom: 1;
}
/* Added instead of :after pseudoelement */
.popup__valignfix {
  display: inline-block;

  width: 0;
  height: 100%;

  vertical-align: middle;

  *display: inline;
  *zoom: 1;
}
.popup-form__row {
  margin: 1em 0;
}
.popup__close {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;

  position: absolute;
  top: 10px;
  right: 0;

  display: block;

  width: 12px;
  height: 12px;
  padding: 8px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border-radius: 5px;
  background: #d5a90f;
}
.popup__close:hover {
  background: #ddd;
}
.popup__overlay input.input-text {
  height: 48px;
}
.popup__overlay .order_form label {
  font-size: 16px;
  line-height: 18px;

  margin: 0;
}
.popup__overlay .order_benefits {
  width: auto;
  padding-top: 8px;
}
.popup__overlay .order_benefits li {
  font-size: 26px;
}
.popup__overlay div.wpcf7-validation-errors {
  position: inherit;
  bottom: 8px;

  float: none;

  color: #fff;
}
.popup__overlay div.wpcf7-mail-sent-ok {
  position: inherit;

  float: none;

  color: #fff;
}
.popup__overlay .ordercall .order_form,
.popup__overlay .meeting .order_form {
  float: none;

  margin-left: 130px;
}
.popup__overlay .ordercall .order_submitbox,
.popup__overlay .meeting .order_submitbox {
  float: none;

  margin-left: 160px;
}
.no-mar-btm,
h2.no-mar-btm {
  margin-bottom: 0;
}
p strong {
  font-weight: 400;
}
#business_section .collapse_box h3 {
  color: #0490a5;
}
#business_section .specialize_text,
#business_section p.table_note {
  color: #000;
}
#business_section .specialize_table {
  border-color: #000;
}
#action_section.right-direction {
  background-image: url(../images/action_osnova_zerk.jpg);
  /*  margin-top: -27px;*/
}
@media screen and (min-width: 981px) {
  .top {
    bottom: 50px;
  }
}
@media screen and (min-width: 581px) (max-width: 980px) {
  .top {
    bottom: 153px;
  }
}


@media screen and (max-width: 580px) {
  .popup__overlay .ordercall .order_form,
  .popup__overlay .meeting .order_form {
    float: none;

    margin-left: 0;
  }
  .popup__overlay .ordercall .order_submitbox,
  .popup__overlay .meeting .order_submitbox {
    float: none;

    margin-left: 0;
  }
}

@media screen and (min-width: 580px)  and (max-width: 980px) {
  .popup__overlay .ordercall .order_submitbox,
  .popup__overlay .meeting .order_submitbox {
    float: none;

    margin-left: 0;
  }
}
